.product-details {
  /* background-color: #f9f9f9; */
  padding: 20px;
  border-radius: 8px;
}

.product-details h2 {
  font-weight: bold;
  color: #333;
}

.product-details p {
  margin-bottom: 10px;
  font-weight: bold;
}

.btn-contact {
  background-color: #4C46C4;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
}

.btn-contact:hover {
  background-color: #3b3596;
  color: white;
}

.feature-list {
  list-style: none;
  padding: 0;
}

.feature-list li {
  margin-bottom: 5px;
}

.btn-contact {
  padding-left: 50px;
  padding-right: 50px;
}

.feature-list li {
  margin-left: 50px;
  font-size: 15px;
}

.product-details p span {
  font-weight: 400;
}
 
 
