#flash-contact .call .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: none;
  background-color: #30C04F;
}

#flash-contact .call .button:hover {
  background-color: #2bac47;
}